@import './utils/fonts';
@import './utils/reset';
@import './utils/vars';
@import './utils/mixins';
@import './utils/extends';

.App {
  height: 100vh;
  background-color: $c-white;
  color: $c-dark;
  font-family: 'Mont', sans-serif;
  
  &__nightTheme {
    background-color: $c-black;
  }

  &__main {
    padding-top: 24px;
  }
}