@import './utils/fonts';
@import './utils/reset';
@import './utils/vars';
@import './utils/mixins';
@import './utils/extends';

.App {
  min-height: 100vh;
  padding-bottom: 36px;
  background-color: $c-white;
  color: $c-dark;
  font-family: 'Mont', sans-serif;
  
  &__nightTheme {
    color: $c-light;
    background-color: $c-black;
  }

  &__main {
    padding-top: 24px;
  }
}