@import './utils/fonts';
@import './utils/reset';
@import './utils/vars';
@import './utils/mixins';
@import './utils/extends';

html {
  font-family: 'Mont', sans-serif;
  background-color: $c-white;
  color: $c-dark;
}

.App {
  &__main {
    padding-top: 24px;
  }
}