@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';
@import '../../styles/utils/extends';

.myCurrencies {
  @extend %flex-col;

  &__wrapper {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }

  &__header {
    @extend %flex-row-sb;
    flex-wrap: wrap;
  }

  &__title {
    flex-basis: 50%;
    padding-right: 16px;
    font-size: 28px;
    line-height: 36px;
    font-weight: 800;
    color: $c-dark;

    @include onMobile {
      flex-basis: 100%;
      margin-bottom: 12px;
      text-align: center;
    }
  }

  &__inputGroup {
    position: relative;
    flex-basis: 50%;
    min-width: 200px;
    height: 36px;

    @include onMobile {
      flex-basis: 100%;
    }
  }
}